altair
pandas
streamlit
transformers
Pillow
requests
pyzbar
opencv-python-headless
numpy
python-bidi
zipp
zbar-py
libgl1
libzbar0
libzbar-cffi
libsm6
libxrender1
libfontconfig1
libice6
